* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: 16.5%;
  /* font-family: "custom-font", sans-serif; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.general-container {
  width: 100%;
  height: 100vh;
}

.layout-container {
  width: 60%;
  height: 100vh;
  margin: 0 21rem;
  box-sizing: border-box;
  /* background-color: khaki; */
}
