/* 최상위 헤더 */
.header {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}

/* 좌측 */
.left {
  display: flex;
  align-items: center;
}

/* 중앙 */
.center {
  display: flex;
  align-items: center;
}
.search {
  padding-left: 200px;
  height: 35px;
  border-radius: 20px 0 0 20px;
}

.search::placeholder {
  padding-right: 20px;
}

.search-button1 {
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: center; /* 가로 정렬*/
  height: 38px;
  font-size: 15px;
  border: none;
  border-radius: 0 20px 20px 0;
  padding-right: 30px;
  margin-right: 15px;
}

.search-button2 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* 우측 */
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-img {
  margin-top: 4px;
}

.create-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
}

.bell {
  height: 40px;
  border: none;
  background-color: transparent;
}
.bell-icon {
  /* width: 40px; */
  height: 40px;
  border: none;
  border-radius: 20px;
}

.profile {
  height: 40px;
  background-color: transparent;
  border: none;
}
.profile-img {
  width: 30px;
  border-radius: 20px;
  margin-top: 5px;
}
