:root {
  --background--color: #ffffff;
  --background--color2: #9e9e9e;
  --text--color: #000000;
  --border--color: #e1f5fe;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none; /* WebKit 기반 브라우저 */
  -moz-user-select: none; /* Mozilla 기반 브라우저 */
  -ms-use-select: none;
  user-select: none;
  font-size: 10px;
}

/* 이미지 */
.search-img {
  width: 20px;
}
.profile {
  width: 30px;
  background-color: transparent;
}

.story-profile {
  width: 3.5rem;
  margin-top: 5rem;
}
