.main-content-container {
  display: flex;
  width: 47.5rem;
  height: 10rem;
  margin-left: 15rem;
  align-items: center;
}

.main-content-stories {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  overflow-x: auto;
  margin-top: 3rem;
}

.story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 4rem;
}

.story-profile {
  /* width: 3.5rem; */
  /* height: 3.5rem; */
  /* border-radius: 50%; */
  margin-bottom: 0.5rem;
}

.user-name {
  font-size: 0.8rem;
  color: var(--text--color);
}
