@font-face {
  font-family: "custom-font";
  src: url("../assets/fonts/KoPubWorld Dotum Medium.ttf") format(truetype);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #000000;
  height: 300vh;
  width: 100%;
}

body {
  display: flex;
  font-size: 16.5%;
  font-family: "custom-font", sans-serif;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
