.movie-1 {
  background-image: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABW1kzcWOY3GvfSJSrqA1ai7uBbOwULoYRsJgIrxvhPvCvw3Mzfq-Wi_HMwIp3JtHaY_IOCuG0bfPDqL5LjT0r3hfxJSCvt5IL7Bs.webp?r=a9);
  width: 1300px;
  height: 700px;
  /* src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABW1kzcWOY3GvfSJSrqA1ai7uBbOwULoYRsJgIrxvhPvCvw3Mzfq-Wi_HMwIp3JtHaY_IOCuG0bfPDqL5LjT/0r3hfxJSCvt5IL7Bs.webp?r=a9); */
}

.movie-2 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABdJj6lWG6C7Y2n0MHbbBtmXIgaWmGI_IDUlJsRKqfPAfj5odhVgx_8LuXjpaxD4ILG6EjyI-KsOwYjClwA3N0oSVNqr-W0VhDTHN9eZ_GHJNQny-2NxblwGr9uFPl0uXvCmxnxtTHKJp32qzyFENd4etFc7sp3C612De91PWOKDDbMdenMYsjBAkTXWp-AKEDLX2x2Q1a3hHz_6JihsFEu6kCXohOfhvyOZ7TqUbEanlBuTny3yh8b8olLoT-WAwTupXBGejG-tPGtAo2FYj7PX6iNUMPGFTn3U9uF3F4CbM2Gt4FKd8J0h4k-L-_-6Ga3X8QvJ0BQUqrAZzrA_Aurryoy02vFfXLEsvD7jRCwFAAquzTA.jpg?r=57);
}

.movie-3 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABdgLmYzAHqtqaXZwhIFCyOO0eUOpDgECnWxVicAKoSsaFvbjjYoxpPc9pBsIb3oDm7miuxFNCXTQuYkDbVQnWaxLYlifyWFD1Ast2-S9yAbzZaYgc4ZmULhxzVIPoEZYEK6lkU1bfk7xVEZxelM39Hn7lTC1NHYWgVAl-X8kP4p0VTjbQiok-xyRZCwmP_edznU8CPfM1wB37dAPkA1nnZCEm_FTGiGjBLSX-QNDlYC2p_STWBY4u4f70ZiHj-SYSbh_3DwGFl8VuqaPHZxysYkcJuz28oteNY_OHOipSHvcCgA5V3PyXO-r9_2JVP6xPgg9BzlzbPvnEvJR9N7BRPEgJR6vvJrqgmdVpuWsOb2Y6XVnmua6NkB4gBmRN9UTNm_Jtcu2AZUxIc-oxhqHNyAyFrWa2iamlXE-QEx5iOIC0hmccOy94i_VAcG3mspn1U9LvOwf6br7KVERHEKQrT9pTVXio8Q5QyH6d0IRbBfe8raZmFe68eDF3Ay7pHHpqKk.webp?r=b30);
}

.movie-4 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABbdvjsxzZQfqyfgFPuML0SFQ5SkMGalODYwx699J5if7Pk6yYc3Pl-2OhROJLp8SWZ_1Bui0_rt7tNqVQoE39JYuS27TaQWwjMs.webp?r=40e);
}

.movie-5 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABTmYsDGROM2MhPMmugLKjbq9YhrpC0OQenUMWsTI8x3_vOM3BAFs7ez2-FFWeHkC54jRcOySKTLOvD-XHRfEhSwOupOcrJDd4wilQH3qgTa9k6PX-hW94GGL7ljD5YT5rwsbqQkwTXhtkhdjFGiYDkZhXJU9SUDVNQubjFigfUR-jz7MQo6doUdj_lqKk9o28NSpDWD0R3v7T00G_tKZBImUgKt1msEmENqz-MaZMQD-6KqNV5HkxMaUWVJ_yl8S5cA7CgxZqeA6XliPQH9fD-yzBD1yQicIk1f3QomXd0cGyjGbL8u4cBbbyeWMlo98i5ikDcvnijZEGRx-1qR9eO0S_c2EPM4u7zwC7QOWB-CZoYK0kpCjVQ.jpg?r=99a);
}

.movie-6 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABUXp1VEuRKp7FSlYtpOjMHXFgjRbwRNTZXSu4YYMad2iFnnCFh_uZ9KkMZBUF7wCOebMEvOThyuhO2xDHbS1e0gTJstnwDgz-KM.webp?r=2bc);
}

.movie-7 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABQ-620rn4qc0tnZRDmNL5tzdJpacOSKcdX7dgwvnYPYzp1VaJVtb_i4yhsHwcos4FAoOA9j_a35ozqKDQHooZEKAq6sCtqSJJ3U.webp?r=d9d);
}

.movie-8 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABSjA3XgP8HYM0KVZasu1Hxcl6139Ces-Nvw2XwqlgPPp3kkEDrr4PhkVzZQgxVucoNWbbJseDst-5EmOArBpBYT7rSfCgsE0pOg.webp?r=ab2);
}

.movie-9 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABTDwj7hm2W8gZCwfjJG8idd9PRwm98Hl50H00V7JuRfU4ExV3BRedvry3Fzt-pp-FBVLq6s4vi1NF3W6lv_it0dwrJBzY2GbvNxtswRZGitJwZOgcNYyhQV-kd6v8Q-gJCUF.jpg?r=045);
}

.movie-10 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABV7mgVAjxwELzWID31w6iL9zHWi73aTGbMFwvwQ3AnVBQe1Kxdaar9rfFWelNdfGnS-nRIbZAb7NQhboMasiI_zLWw05wXjygD4SVrzbYiF5H8mXKW9CHrFqiKQWysPW38kS.jpg?r=438);
}

.movie-11 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABQoXZdl3KMNlDbgo9IsA3jWI9GF7BdKVdyCq0sz_SUAoDht8N-Bl_k4DCuVYraIDO7HU_oeSn8Ol89VN0bgvxFc5XbiRyAUpEY8.webp?r=c23);
}

.movie-12 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABcqI_k72riepRqi69akfHaqB1Z45KxitMgzUJhz1WiaM4li34yacc1ZccjXYSWPAFGI282zA0R84faAAer9nv1C2ZIJU3aFQaQk.webp?r=3ad);
}

.movie-13 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABYJxoCqsjCpZGYpfBhFD8yzbHxyaqguiNoqPoC1YZVlM-rkLS8NzfsZJaHNEnxLkrh5nv5-K82g0KpsKsFJR-H3hcqHFwcuAmOg.webp?r=330);
}

.movie-14 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABRl3RFf9NA_NVHu8eYGFpZgPTPkDTfK2PX7wzuwQOJkiXeSSvWsLWp-z7ioDCtIix_TnVRX2OH4bjGP4wyOi3-wZj7zlyP27fwo.webp?r=38f);
}

.movie-15 {
  src: url(https://occ-0-3076-988.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABXFljl1_iJzMYRQtC_NIZV5gdXKXsP39T8snHcBR2_GG86tSOvuTBrWS-IhXYpXPChMfDmG9ChfWvMXcrkdzjJm8Hp735rfbLrFWyC3My-z87R8K2K3QTjFy4OmZrihbgGGe8vHUvGy3zC16_YyUcGnbKC7GNlAWJ0YaGY2SKLx4cnBq5WFhMyTchcpHzHqkZdfSkscqZy6_GMaGvt89fjz_NcM1QFkDzLSi0BuFNlJU2yrEp6vQQpBVWLfB2cv8naIhw1bgx511URpn-rTOq6nC84Er6sFRoY83rLYuf6D1T6-TInGAzaQK_jN1brX2_zMOOUK-N6B6CFzKaJzmCfr6XJXLPjHpYpoo20ELETYdrOtK3EyYeuI0acwG6EVvuwuK45xO4APm29BNWMALBcXZoMn8nUcpKaK7mpNZPNueu7bRS4BbLsQ_T1g3IB5C_htEXc4bIFrIBjQwXZYvRfWUsL29y7bfH_rrhskpZXz8QWFeo2lUigHnmIQHLPevWGw.webp?r=bde);
}

.logo-img {
  width: 7rem;
}

.search-icon,
.notification-icon,
.profile-img {
  width: 1.5rem;
}

.hamburger-bar,
.menu {
  width: 3rem;
}
