.main-content-container {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  position: relative;
}

.sub-header-container {
  display: flex;
  /* position: fixed; */
  width: 100%;
  background-color: #000000;
  /* z-index: 2; */
}

.text-icon-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  position: absolute;
}

.text-container {
  position: absolute;
  font-size: 2.3rem;
  width: 17rem;
  z-index: 1;
}

.menu-container {
  display: flex;
  margin-left: auto;
  width: 6rem;
  z-index: 1;
}

.movie-info-container {
  display: flex;
  width: 100%;
  margin-top: 1.2rem;
  margin-left: 3rem;
  gap: 1.2rem;
}

.play-btn,
.movie-info-btn {
  /* position: absolute; */
  z-index: 1;
  width: 8.5rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  margin-top: 38rem;
}

.movie-info-btn {
  background-color: gray;
  opacity: 100%;
  color: #ffffff;
}
