.sub-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
  position: relative;
  z-index: 2;
}

.text-container {
  position: absolute;
  z-index: 1;
}

.menu-container {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 1;
}

.text-container > h1 {
  font-size: 2.3rem;
  width: 17rem;
  margin-top: 0.5rem;
  margin-left: 4rem;
}

.movie-info-container {
  display: flex;
  gap: 1rem;
  position: relative;
  width: 5rem;
  height: 2rem;
}

.play-btn,
.movie-info-btn {
  position: absolute;
  z-index: 1;
  width: 8.5rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 500;
  margin-top: 38rem;
  margin-left: 5rem;
}

.movie-info-btn {
  margin-left: 15rem;
  background-color: gray;
  opacity: 100%;
  color: #ffffff;
}
