.my-content-container {
  display: flex;
  height: 17rem;
  justify-content: center;
  align-items: center;
}

.text-box h3 {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 17rem;
  padding-left: 1rem;
}

.content-container-2 {
  margin-top: 17rem;
}

.content-container-3 {
  margin-top: 17rem;
}

.content-container-1 > h3,
.content-container-2 > h3,
.content-container-3 > h3 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.korea-drama {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.korea-drama > ul {
  display: flex;
  list-style-type: none;
}
