.content-group-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 13.5rem;
    width: 55%;
    height: 60vh;
}

.user-profile-container {
    display: flex;
    align-items: center;
}

.user-profile-container .user-profile-picture {
    margin-left: 1.7rem;
    width: 4rem;
    border-radius: 5rem;
}

.user-profile-container .text-group > p {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.todo-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.todo-add {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.todo-add .todo-text {
    width: 22rem;
    height: 2.5rem;
    border-color: #4582eb;
    border-radius: 0.5rem;
}

.todo-add .todo-text::placeholder {
    padding-left: 1rem;
}

/* todo list */
.todo-list {
    margin-top: 1rem;
    margin-left: 7rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
}

.todo-list::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    margin-bottom: 0.8rem;
}

.checkbox {
    width: 1.6rem;
    height: 1.6rem;
    appearance: none; /* 브라우저 기본 체크박스 스타일 제거 */
    -webkit-appearance: none; /* 크로스 브라우저 호환성 */
    border: 0.1rem solid #333333;
    border-radius: 0.2rem;
    background-color: white;
}

.textbox {
    font-size: 1rem;
    border: none;
    background-color: #ffffff;
    padding-left: 1rem;
}

.delete-btn button {
    width: 3rem;
    height: 1.8rem;
    border: none;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}