.header {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 10px;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.search {
  padding: 10px 150px 10px 150px;
  border-radius: 20px 0 0 20px;
}
